{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div>
<!-- 	<form action="upload-csv" method="post" enctype="multipart/form-data">
	    Select file to upload:
	    <input type="file" name="fileToUpload" id="fileToUpload">
	    <input type="submit" value="UploadFile" name="submit">
	</form> -->

	<form action="upload-tsv" method="post">
		<label for="upload">Paste TSV here: (Values from parser.py)</label><textarea name="upload" cols="1000" rows="1000"></textarea>
		<input type="submit" name="submit">
	</form>
</div>

{% endblock %}
