{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="main">
	<div id="content">
		<p class="buttons" id="back">Back</p>
		<p class="buttons" id="nosbButton">NOSB Question Set</p>
		<p class="buttons" id="nsbButton">NSB Question Set</p>
	</div>
	<style type="text/css">
		body{
			margin: 0;
			background-image: url('static/test.png');
			background-repeat: repeat;
		}
		form{
			font-family: Courier;
		}
		header{
			background-image: url('static/pattern.jpg');
			background-repeat: repeat;
			height: 8vh;
			position:sticky;
			top:0px;
		}
		#home a{
			display: block;
			text-align: center;
			text-decoration: none;
			color: #4149D4;
			font-family: Ubuntu, sans-serif;
			font-size: 3.0vw;
			background-color: #FAFAFA;
		}
		#home{
			margin: auto;
			vertical-align: middle;
			width: 12.5vw;
			height: 8vh;
		}
		#home a:hover{
			background-color: #FAFAF0;	
		}
		#main{
			height: 101vh;
			margin-bottom: 65vh;
		}
		h1{
			font-family: Courier;
			display: none;
			margin: none;
			margin-top: -10vh;
			margin-bottom: 2vh;
			text-align: center;
		}
		h3{
			margin-top: 4.5vh;
			margin-bottom: 0.9vh;
		}
		#content{
			font-family: Ubuntu, sans-serif;
			text-align: center;
			height: 20vh;
			width: 60vw;
			padding: 1vw;
			margin-bottom: 5vh;
			margin-left: auto;
    		margin-right: auto;
    		/*background-color: white;*/
    		padding: 30px;
    		/*box-shadow: 0px 0px 5px;*/
		}
		/*Buttons*/
		.buttons{
			text-align: center;
			vertical-align: middle;
			display: none;
			font-size: 2.25vw;
			color: #4149D4;
			width: 20vw;
			height: 10vh;
			line-height: 10vh;
			margin-top: 1vh;
			padding: 5vh;
			background-color: #FAFAFA;
			border-radius: .125rem;
			box-shadow: 0px 0px 15px #BABABA;
		}
		.buttons:hover{
			background-color: #FAFAF0;
			box-shadow: 0px 0px 10px #BABABA;
			cursor:pointer;
		}
		#back.buttons{
			padding: 1.5vh;	
		}
		#nosbButton{
			float: left;
		}
		#nsbButton{
			float: right;
		}
		#back{
			margin: auto;
		}
		/*Submit button*/
		input[type=submit] {
			font-family: Ubuntu, sans-serif;
			padding: 5vh;
			padding-top: 3vh;
			padding-bottom: 3vh;
			color: #4149D4;
		    background: #FAFAFA;
			box-shadow: 0px 0px 15px #BABABA; 
		    border: none;
		    cursor:pointer;
		    border-radius: 5px; 
			font-size: 1.35vw;
		}
		input[type=submit]:hover{
			background: #FAFAF0;
		} 
		#sub{
			margin-top: 2vh;
			text-align: center;
		}
		#qSelection{
			display: none;
			margin: auto;
			padding: 20px;
			width: 50%;
			background-image: url('static/d.png');
			background-repeat: repeat;
			box-shadow: 0px 0px 20px lightgray;
		}
		#nsbSubjects{
			display: none;
		}
		#nosbSubjects{
			display: none;
		}
		#difficultyWrapper h3{
			margin-top: 5px;
		}
		/*Footer Styles*/
	    footer{
			background-image: url('static/pattern.jpg');
	    	background-repeat: repeat;
			height: 4vh;
	    }
	    #logout{
	    	margin-left: auto;
	    	margin-right: auto;
	    	margin-top: 10vh;
			vertical-align: middle;
			width: 10.5vw;
			height: 3.25vh;
	    }
	    #logout a{
			display: block;
			text-align: center;
			text-decoration: none;
			color: #4149D4;
			font-family: Ubuntu, sans-serif;
			font-size: 1.5vw;
			background-color: #FAFAFA;
		}
		#logout a:hover{
			background-color: #FAFAF0;	
		}

		.sliders {
			-webkit-appearance: none;
			width: 35%;
			height: 15px;
			border-radius: 5px;   
			background: #d3d3d3;
			outline: none;
			opacity: 0.7;
			-webkit-transition: .2s;
			transition: opacity .2s;
			margin-bottom: 12px;
		}
		.sliders::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 25px;
			height: 25px;
			border-radius: 50%; 
			background: #4CAF50;
			cursor: pointer;
		}
		.sliders::-moz-range-thumb {
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background: #4CAF50;
			cursor: pointer;
		}
		/* JS classes */
		.visible{
			display: block;
		}
	</style>

	<h1 id="NSBHeader">NSB Set Generation</h1>
	<h1 id="NOSBHeader">NOSB Set Generation</h1>
	<div id="qSelection">
		<form action="generateset" method="post">
			<!-- <div id="difficultyWrapper">
				<h3>Difficulty</h3>
				<div><label for="1d">1</label><input type="checkbox" name="diff[]" value="1" id="1d" checked> </div>
				<div><label for="2d">2</label><input type="checkbox" name="diff[]" value="2" id="2d" checked> </div>
				<div><label for="3d">3</label><input type="checkbox" name="diff[]" value="3" id="3d" checked> </div>
				<div><label for="4d">4</label><input type="checkbox" name="diff[]" value="4" id="4d" checked> </div>
				<div><label for="5d">5</label><input type="checkbox" name="diff[]" value="5" id="5d" checked> </div>
			</div> -->

			<div id="rndTypeWrapper">
				<h3>Round Type</h3>
				<div><input type="radio" name="rndType" value="1" id="TUO"><label for="TUO">Toss-Up only</label></div>
				<div><input type="radio" name="rndType" value="2" id="TUAB" checked><label for="TUAB">Toss-Up and Bonus</label></div>
			</div>
			
			<div id="numQuestionsWrapper">
				<h3>Number of Questions</h3>
				<div><label for="numQs">Number of Questions: </label><input type="Number" name="numQs" id="numQs" min="1" placeholder="Enter number of questions: (ie. 25)"></div>
			</div>

			<div id="nsbSubjects">
				<h3>Subtopic Select</h3>
				<div><input type="checkbox" value="General" id="generalSelect" class="nsbSubs" name="subs[]"><label for="generalSelect">General </label></div>
				<div><input type="checkbox" value="Astronomy" id="astronomySelect" class="nsbSubs" name="subs[]"><label for="astronomySelect">Astronomy </label></div>
				<div><input type="checkbox" value="Biology" id="biologySelect" class="nsbSubs" name="subs[]"><label for="biologySelect">Biology </label></div>
				<div><input type="checkbox" value="Chemistry" id="chemistrySelect" class="nsbSubs" name="subs[]"><label for="chemistrySelect">Chemistry </label></div>
				<div><input type="checkbox" value="Earth Science" id="earthSelect" class="nsbSubs" name="subs[]"><label for="earthSelect">Earth </label></div>
				<div><input type="checkbox" value="Energy" id="energySelect" class="nsbSubs" name="subs[]"><label for="energySelect">Energy </label></div>
				<div><input type="checkbox" value="Math" id="mathSelect" class="nsbSubs" name="subs[]"><label for="mathSelect">Math </label></div>
				<div><input type="checkbox" value="Physics" id="physicsSelect" class="nsbSubs" name="subs[]"><label for="physicsSelect">Physics </label></div>
				<input type="hidden" name="comp" value="NSB" id="hNSBcomp">
			</div>

			<div id="nosbSubjects">
				<h3>Subject Select</h3>
				<!-- <div><input type="checkbox" value="General" id="generalSelect" class="nosbSubs" name="subs[]"><label for="generalSelect">General </label></div>
				<div><input type="checkbox" value="Geography" id="geographySelect" class="nosbSubs" name="subs[]"><label for="geographySelect">Geography </label></div>
				<div><input type="checkbox" value="Marine Biology" id="marinebiologySelect" class="nosbSubs" name="subs[]"><label for="marinebiologySelect">Marine Biology </label></div>
				<div><input type="checkbox" value="Marine Technology" id="marinetechnologySelect" class="nosbSubs" name="subs[]"><label for="marinetechnologySelect">Marine Technology </label></div>
				<div><input type="checkbox" value="Marine Policy" id="marinepolicySelect" class="nosbSubs" name="subs[]"><label for="marinepolicySelect">Marine Policy </label></div>
				<div><input type="checkbox" value="Physical Oceanography" id="physicaloceanographySelect" class="nosbSubs" name="subs[]"><label for="physicaloceanographySelect">Physical Oceanography </label></div> -->
				<div>
					<input id="nosb-general-slider" type="range" class="nosb-subject-sliders sliders" min="0" max="100" step="1" value="0" name="nosb-subs[]" onchange="checkAndCorrect(this)" />
					<label for="nosb-general-slider">General</label> 
					<span id='nosb-general-slider-out'><b></b></span>
				</div>
				<div>
					<input id="po-slider" type="range" class="nosb-subject-sliders sliders" min="0" max="100" step="1" value="65" name="nosb-subs[]" onchange="checkAndCorrect(this)" />
						<label for="po-slider">Physical Oceanography</label> 
						<span id='po-slider-out'><b></b></span>
				</div>
				<div>
					<input id="mb-slider" type="range" class="nosb-subject-sliders sliders" min="0" max="100" step="1" value="20" name="nosb-subs[]" onchange="checkAndCorrect(this)" />
						<label for="mb-slider">Marine Biology</label> 
						<span id='mb-slider-out'><b></b></span>
				</div>
				<div>
					<input id="policy-slider" type="range" class="nosb-subject-sliders sliders" min="0" max="100" step="1" value="5" name="nosb-subs[]" onchange="checkAndCorrect(this)" />
						<label for="policy-slider">Marine Policy</label> 
						<span id='policy-slider-out'><b></b></span>
				</div>
				<div>
					<input id="geo-slider" type="range" class="nosb-subject-sliders sliders" min="0" max="100" step="1" value="5" name="nosb-subs[]" onchange="checkAndCorrect(this)" />
					<label for="geo-slider">Geography</label> 
					<span id='geo-slider-out'><b></b></span>
				</div>
				<div>
					<input id="tech-slider" type="range" class="nosb-subject-sliders sliders" min="0" max="100" step="1" value="5" name="nosb-subs[]" onchange="checkAndCorrect(this)" />
						<label for="tech-slider">Marine Technology</label> 
						<span id='tech-slider-out'><b></b></span>
				</div>
				<input type="hidden" name="comp" value="NOSB" id="hNOSBcomp">
			</div>

			<div id="scrammbleWrapper">
				<h3>Additional Options</h3>
				<div><input type="checkbox" value="Y" id="scrammbleQs"><label for="scrammbleQs">Scramble Question Choices</label></div>
			</div>
			<div id="sub"><input type="submit" name="submit" value="submit" id="sub"></div>
		</form>
	</div>
</div>

<script type="text/javascript">
	var nosb_gen, geo, mb, tech, policy, po;
	var total, overage, underage;
	function updateLabels(){
		nosb_gen = Number($('#nosb-general-slider').val());
		geo = Number($('#geo-slider').val());
		mb = Number($('#mb-slider').val());
		tech = Number($('#tech-slider').val());
		policy = Number($('#policy-slider').val());
		po = Number($('#po-slider').val());
		$('#nosb-general-slider-out b').html(nosb_gen+ "%");
		$('#geo-slider-out b').html(geo+ "%");
		$('#mb-slider-out b').html(mb+ "%");
		$('#tech-slider-out b').html(tech+ "%");
		$('#policy-slider-out b').html(policy+ "%");
		$('#po-slider-out b').html(po+ "%");
	}

	function checkAndCorrect(item){
		// console.log($(item))
		updateLabels();
		total = nosb_gen + geo + mb + tech + policy + po;
		console.log(total);
		var changeThese = $.makeArray($('.nosb-subject-sliders').not($(item)))
		console.log(changeThese);

		if (total > 100) {
			overage = total - 100;
			console.log("overage: " + overage);
			while (overage > 0){
				for (var i=0; i<changeThese.length; i++){
					if (changeThese[i].value > 0) {
						changeThese[i].value--;
						overage -= 1;
					} else {
						continue;
					}
					if (overage === 0){
						break;
					}
				}
			}
			updateLabels();
			console.log("overage post execution: " + overage + " total post execution: " + (nosb_gen + geo + mb + tech + policy + po));
			return;
		}
		if (total < 100) {
			underage = total - 100;
			console.log("underage: " + underage);
			while (underage < 0){
				for (var i=0; i<changeThese.length; i++){
					if (changeThese[i].value < 100) {
						changeThese[i].value++;
						underage += 1;
					} else {
						continue;
					}
					if (underage === 0){
						break;
					}
				}
			}
			updateLabels();
			console.log("underage post execution: " + underage + " total post execution: " + (nosb_gen + geo + mb + tech + policy + po));
			return;
		}
	}

	$(document).ready(function() {
		$("#nosbButton.buttons").toggle();
		$("#nsbButton.buttons").toggle();
		var clickedNSB = false;
		var clickedNOSB = false;

		$("#nosbButton").click(function (event){
			var clickedNOSB = true;
			$(".nosbSubs").prop('checked', true);
			$(".buttons").toggle();
			setTimeout(function(){
				$("#qSelection").fadeIn(1000);
				$("#nosbSubjects").fadeIn(1000);
				$("#NOSBHeader").fadeIn(400);
			}, 100);
			console.log("clicked");
			console.log(clickedNSB);
			console.log(clickedNOSB);
			$("#hNSBcomp").remove();
		});

		$("#nsbButton").click(function (event){
			var clickedNSB = true;
			$(".nsbSubs").prop('checked', true);
			$(".buttons").toggle();
			setTimeout(function(){
				$("#qSelection").fadeIn(1000);
				$("#nsbSubjects").fadeIn(1000);
				$("#NSBHeader").fadeIn(400);
			}, 100);
			console.log("clicked");
			console.log(clickedNSB);
			console.log(clickedNOSB);
			$("#hNOSBcomp").remove();
		});
	
		$("#back").click(function (event){	
			$("#back").toggle();
			$(".nsbSubs").prop('checked', false);
			$(".nosbSubs").prop('checked', false);
			$("#qSelection").fadeOut(300);
			$("#nsbSubjects").fadeOut(300);
			$("#nosbSubjects").fadeOut(300);
			$("#NOSBHeader").fadeOut(300);
			$("#NSBHeader").fadeOut(300);
			setTimeout(function(){
				$("#nosbButton").fadeIn(700);
				$("#nsbButton").fadeIn(700);
			}, 400);
			if (!$("#hNOSBcomp").length) {
				$("<input type=\"hidden\" name=\"comp\" value=\"NOSB\" id=\"hNOSBcomp\">").appendTo("#nosbSubjects");
				console.log("reAppended hNOSB");
			}
			if (!$("#hNSBcomp").length) {
				$("<input type=\"hidden\" name=\"comp\" value=\"NSB\" id=\"hNSBcomp\">").appendTo("#nsbSubjects");
				console.log("reAppended hNSB");
			}
			clickedNOSB = false;
			clickedNSB = false;
			console.log("clicked");
			console.log(clickedNSB);
			console.log(clickedNOSB);
		});
		updateLabels();
	})
</script>

<footer>
	<div id="logout"><a href="logout/">LOGOUT</a></div>
</footer>

{% endblock %}
