{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="main">
	<div id="content">
			<p class="buttons" id="back">Back</p>
			<p class="buttons" id="nosbButton">NOSB Question Set</p>
			<p class="buttons" id="nsbButton">NSB Question Set</p>
	</div>
	<style type="text/css">
		body{
/*			background-image: url('http://eskipaper.com/images/beach-background-4.jpg');*/
			/*background-size: cover;*/
			background-image: url('test.png');
			background-repeat: repeat;
		}
		#main{
			margin-bottom: 1vh
		}
		h1{
			display: none;
			margin: none;
			margin-top: 2vh;
			margin-bottom: 2vh;
			text-align: center;
		}
		h3{
			margin-top: 25px;
			margin-bottom: 5px;
		}
		#content{
			text-align: center;
			height: 5vw;
			width: 75vw;
			padding: 1vw;
			margin: auto;
		}
		/*Buttons*/
		.buttons{
			text-align: center;
			vertical-align: middle;
			display: none;
			border: 2px solid black;
			width: 20vw;
			line-height: 5vh;
			/*margin: auto;*/
			margin-top: 1vh;
			margin-bottom: 2vh;
			padding: 5vh;
		}
		#nosbButton{
			float: left;
			clear: left;
		}
		#nsbButton{
			float: right;
			clear: right;
		}
		#back{
			margin: auto;
		}

		#qSelection{
			display: none;
			margin: auto;
			padding: 20px;
			width: 50%;
			background-image: url('d.png');
			background-repeat: repeat;
			box-shadow: 0px 0px 15px;
		}
		#nsbSubjects{
			display: none;
		}
		#nosbSubjects{
			display: none;
		}
		#sub{
			display: block;
			width: 75px;
			margin: auto;
		}
		#difficultyWrapper h3{
			margin-top: 5px;
		}

		/* JS classes */
		.visible{
			display: block;
		}
	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript">
		$("#nosbButton.buttons").toggle();
		$("#nsbButton.buttons").toggle();

		$("#nosbButton").click(function (event){
			$(".buttons").toggle();
			setTimeout(function(){
				$("#qSelection").fadeIn(1000);
				$("#nosbSubjects").fadeIn(1000);
				$("#NOSBHeader").fadeIn(400);
			}, 100);
			console.log("clicked");

		});

		$("#nsbButton").click(function (event){
			$(".buttons").toggle();
			setTimeout(function(){
				$("#qSelection").fadeIn(1000);
				$("#nsbSubjects").fadeIn(1000);
				$("#NSBHeader").fadeIn(400);
			}, 100);
			console.log("clicked");
		});
	
		$("#back").click(function (event){	
			$("#back").toggle();
			$("#qSelection").fadeOut(300);
			$("#nsbSubjects").fadeOut(300);
			$("#nosbSubjects").fadeOut(300);
			$("#NOSBHeader").fadeOut(300);
			$("#NSBHeader").fadeOut(300);
			setTimeout(function(){
				$("#nosbButton").fadeIn(700);
				$("#nsbButton").fadeIn(700);
			}, 400);
			console.log("clicked");
		});
	</script>

	<h1 id="NSBHeader">NSB Set Generation</h1>
	<h1 id="NOSBHeader">NOSB Set Generation</h1>
	<div id="qSelection">
		<form action="placeholder">
			<div id="difficultyWrapper">
				<h3>Difficulty</h3>
				<div><label for="1">1</label><input type="checkbox" name="1" value="1"> </div>
				<div><label for="2">2</label><input type="checkbox" name="2" value="2"> </div>
				<div><label for="3">3</label><input type="checkbox" name="3" value="3"> </div>
				<div><label for="4">4</label><input type="checkbox" name="4" value="4"> </div>
				<div><label for="5">5</label><input type="checkbox" name="5" value="5"> </div>
			</div>

			<div id="rndTypeWrapper">
				<h3>Round Type</h3>
				<div><input type="radio" name="TossupOnly" value="1"><label for="TossupOnly">Toss-Up only</label></div>
				<div><input type="radio" name="TossupAndBonus" value="2"><label for="TossupAndBonus">Toss-Up and Bonus</label></div>
			</div>
			
			<div id="numQuestionsWrapper">
				<h3>Number of Questions</h3>
				<div><label for="numQs">Number of Questions: </label><input type="Number" name="numQs" min="25"></div>
			</div>


			<div id="nsbSubjects">
				<h3>Subtopic Select</h3>
				<div><input type="checkbox" name="generalSelect"><label for="generalSelect">General </label></div>
				<div><input type="checkbox" name="astronomySelect"><label for="astronomySelect">Astronomy </label></div>
				<div><input type="checkbox" name="biologySelect"><label for="biologySelect">Biology </label></div>
				<div><input type="checkbox" name="chemistrySelect"><label for="chemistrySelect">Chemistry </label></div>
				<div><input type="checkbox" name="earthSelect"><label for="earthSelect">Earth </label></div>
				<div><input type="checkbox" name="energySelect"><label for="energySelect">Energy </label></div>
				<div><input type="checkbox" name="mathSelect"><label for="mathSelect">Math </label></div>
				<div><input type="checkbox" name="physicsSelect"><label for="physicsSelect">Physics </label></div>
			</div>

			<div id="nosbSubjects">
				<h3>Subject Select</h3>
				<div><input type="checkbox" name="generalSelect"><label for="generalSelect">General </label></div>
				<div><input type="checkbox" name="geographySelect"><label for="geographySelect">Geography </label></div>
				<div><input type="checkbox" name="marinebiologySelect"><label for="marinebiologySelect">Marine Biology </label></div>
				<div><input type="checkbox" name="marinetechnologySelect"><label for="marinetechnologySelect">Marine Technology </label></div>
				<div><input type="checkbox" name="marinepolicySelect"><label for="marinepolicySelect">Marine Policy </label></div>
				<div><input type="checkbox" name="physicaloceanographySelect"><label for="physicaloceanographySelect">Physical Oceanography </label></div>
			</div>

			<div id="scrammbleWrapper">
				<h3>Additional Options</h3>
				<div><input type="checkbox" name="scrammbleQs"><label for="scrammbleQs">Scramble Question Choices</label></div>
			</div>
			<input type="submit" name="submit" value="submit" id="sub">	
		</form>
	</div>
</div>

{% endblock %}
