<header>
  <div id="home"><a href="/index.html">HOME</a></div>
</header>
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div>
  <h1>Here are your questions!</h1>

  <h2>Multiple Choice</h2>
  {% for question in questions %}
  <div>
    {{ question.question_text }}
    <ul>
      <li>W: {{ question.w }}</li>
      <li>X: {{ question.x }}</li>
      <li>Y: {{ question.y }}</li>
      <li>Z: {{ question.z }}</li>
    </ul>
    Correct Answer: {{ question.correct }}
  </div>
  {% endfor %}

</div>

{% endblock %}
