{% extends "base.html" %}

{% block content %}
<style type="text/css">
	#content{
		margin: auto;
		padding-right: 5vw;
		padding-top: 5vw;
		padding-bottom: 5vh;
		text-align: center;
		border-radius: 0px;
		width: 50vw;
		box-shadow: 0px 0px 20px;
	}
	#contentParent{
		height: 95vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	input[type=text], input[type=password]{
		margin: 0px;
		border-style: none;
		background-color: #FAFAFA;
	}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#content").fadeIn(1200);
		document.getElementById("id_username").placeholder = "Username";
		document.getElementById("id_password").placeholder = "Password";
	});
</script>

{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div id="contentParent">
	<div id="content">
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
		<div>
			{{ form.username }}
		</div>

		<div>
			{{ form.password }}
		</div>

		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>
{% endblock %}