{% extends "base.html" %}
{% load static %}

{% block content %}
<style type="text/css">
	body{
		font-family: Ubuntu, sans-serif;
		background-image: url({% static 'pattern.jpg' %});
	}
	#content{
		display: none;
		text-align: center;
		margin: auto;
		width: 40vw;
		height: 30vh;
		padding-right: 5vw;
		padding-left: 5vw;
		padding-top: 5vw;
    	padding-bottom: 30vh;
		border-radius: 0px;
		background-color: white;
		box-shadow: 0px 0px 20px;
	}
	#contentParent{
		height: 95vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	input[type=text], input[type=password]{
		font-size: 3vh;
		width: 25vw;
    	height: 4vh;
		margin-top: 2.5vh;
		margin-bottom: 2.5vh;
		padding-top: 3.5vh;
		padding-bottom: 3.5vh;
		padding-right: 3.5vw;
		padding-left: 3.5vw;
		border-style: none;
		background-color: #F8F8F8;
	}
	input[type=submit]{
		font-size: 3vh;
		width: 32vw;
    	height: 10.22vh;
    	text-align: center;
		vertical-align: middle;
		line-height: 1.5vh;
		margin-top: 2.5vh;
		margin-bottom: 2.5vh;
		padding-top: 3.5vh;
		padding-bottom: 3.5vh;
		padding-right: 3.5vw;
		padding-left: 3.5vw;
		border-style: none;
		cursor: pointer;
		background-color: #4149D4;
		color: white;
	}

</style>

<script type="text/javascript">
	$(document).ready(function() {
		document.getElementById("id_username").placeholder = "Username";
		document.getElementById("id_password").placeholder = "Password";
		$("#content").fadeIn(1200);
	});
</script>

<div id="contentParent">
	<div id="content">
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
		<div>
			{{ form.username }}
		</div>

		<div>
			{{ form.password }}
		</div>

		<input type="submit" value="LOGIN" />
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
		{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
		{% endif %}
	</div>
</div>
{% endblock %}